# Java / Maven
backend/**/target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
npm-debug.log*

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Env / secrets
.env
*.env.local

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
